<template name="about">
	<div class="komo-box__center">
		<div class="komo-text__huge">So...you want to know about MassBox?</div>
		<div class="komo-text__normal">
			MassBox is simply an online platform to ease the process of buying and selling items for students. 
			Massbox is equipped with filtering and real-time messaging features, 
			enabling users to quickly locate items that they want and contact the buyers/sellers without revealing too much information about themselves. 
			Furthermore, buyers/sellers can filter items based on items that can just be picked up, delivered, or both. 
			All you need to start an account is your student email address, your name, and a password.
		</div>
		<ul>
			<li><a href="{{pathFor route='home'}}">Home</a></li>
			<li><a href="{{pathFor route='faq'}}">FAQ</a></li>
			<li><a href="{{pathFor route='about'}}">About</a></li>
		</ul>
	</div>
</template>
