<template name="addRequest">
	<div class="komo-box__center">
		<div class="komo-request__title ">
			Complete your request!
		</div>
		<form id="request-form" class="komo-request__form">
			<div class="row">
				<div class="input-field col s4">
          <input type="date" placeholder="Date to meetup" name="date" id="request-date" class="datepicker">
        </div>
        <div class="input-field col s4">
          <input type="time" name="time" id="request-time">
					<label class="active" for="time">Time to meetup</label>
        </div>
        <div class="col s4">
          <label style="color:white;">Method</label>
			    <select name="method" id="request-method" class="browser-default" style="background:transparent;">
			      <option value="" disabled selected>Choose method</option>
			      <option value="pick up">Pick up</option>
			      <option value="meet up">Meet up</option>
			      <option value="drop off">Drop off</option>
			    </select>
        </div>
			</div>
			<div class="input-field">
				<input type="text" placeholder="Place to meetup" name="place" id="request-place">
			</div>
			
			<button class="btn-flat waves waves-effect right">Send</button>
		</form>
	</div>
</template>
