<template name="faq">
	<div class="komo-faq__banner">
	
	</div>
 	<div class="komo-box__center">
		<ul class="collapsible" data-collapsible="accordion">
	    <li>
	      <div class="collapsible-header">How to start/create an account?</div>
	      <div class="collapsible-body"><p>To start/create an account, simply enter your school email address, your name, and a password. A verification email will be sent to your school email. Once you click on the link provided, you will immediately be redirected to the website.</p></div>
	    </li>
	    <li>
	      <div class="collapsible-header">Can I create an account if I do not have UMN email address?</div>
	      <div class="collapsible-body"><p>Unfortunately, this webapp is only available to students with a @umn.edu email address.</p></div>
	    </li>
	    <li>
	      <div class="collapsible-header">Why am I not prompted to set up a meeting when clicking on the request button?</div>
	      <div class="collapsible-body"><p>This happens when you have a pending or accepted request with the same seller. The meeting time will automatically be synced with the previous date and time that you have chosen.</p></div>
	    </li>
	    <li>
	      <div class="collapsible-header">How do I sell items on MassBox?</div>
	      <div class="collapsible-body"><p>After creating an account, click on “switch to seller” on the dashboard. You will be directed to another page asking if you are interested to be a seller. Click on “sign up” and you can start adding items to sell on MassBox.</p></div>
	    </li>
	    <li>
	      <div class="collapsible-header">Can I sell items that are not listed under any “category” option?</div>
	      <div class="collapsible-body"><p>Any items that does not fit into the main categories can be placed under “miscellaneous”. You can also click on "others" under type selection to key in the type of your items. MassBox is planning to have more categories as needed in the future.</p></div>
	    </li>
	    <li>
	      <div class="collapsible-header"> It says “item added” but I do not see my items. Are my items added?</div>
	      <div class="collapsible-body"><p>Yes, your items have been added to your account. However, due to your listing not having a picture, the item went into your “unlisted” items. Once you have a picture uploaded for your item, you will be able to change the status of the item to “active” and users can view your item. This is to ensure that users are able to see how the item(s) is/are before deciding to buy it.</p></div>
	    </li>
	    <li>
	      <div class="collapsible-header">Is there a waiting list for items?</div>
	      <div class="collapsible-body"><p>There are no waiting list for items. Once a buyer requests for an item, the item will no longer be available to other buyers unless the seller rejects the request. If that happens, the item will be back on the list again and buyers can request for the item.</p></div>
	    </li>
	  </ul>
	</div>
</template>
