.komo-request-card {
	width:100%;
	max-width:368px;
	margin:8px auto;
	display:block;
	box-sizing:border-box;
	border-radius:2px;
	background:#FFFFFF;
}

.komo-fab__filter {
	position:fixed;
	bottom:10px;
	right:10px;
	background: #e91e63;
	outline: 0;
  transform-origin: 50%;
	transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.komo-request-card__content {
	margin-bottom:8px;
	padding:8px 8px 8px 56px;
	position:relative;
	width:100%;
}

.komo-request-card__content-extras {
	min-height:200px;
	padding:8px 8px 8px 8px;
	margin-bottom:0px;
}

.komo-request-card__action {
	overflow:hidden;
	padding:16px 8px 16px 8px;
	width:100%;
}

.komo-request-card__action-edit {
	overflow:hidden;
	padding:8px 8px;
	width:100%;
}

.komo-request-card__action-edit .input-field {
	margin-top:0.5em;
}

.komo-request-card__action i, .komo-request-card__action-edit i {
	display:inline-block;
	margin:0 16px 0 8px;
	vertical-align:middle;
}

.komo-request-card__desc {
	display:inline-block;
	width:75%;
}

.komo-request-card__title {
	display:inline-block;
	font-size:20px;
	margin-bottom:8px;
}

.komo-request-card__icon {
	vertical-align:middle;
	position:absolute;
	top:8px;
	right:8px;
}

.komo-request-card__field {
	display:block;
	margin-top:8px;
	font-size:12px;
}

.komo-request-card__value {
	display:block;
	font-size:14px;
}

.komo-request-card__stamp {
	margin:8px;
	display:block;
	font-size:16px;
}

.komo-item__list {
	width:100%;
	padding:16px 8px 12px 8px;
	color:#000000;
}

.komo-item__list:hover {
	background:#E0E0E0;
}

.komo-item__list img {
	width:40%;
	max-width:250px;
	max-height:141px;
}

.komo-item__wrap {
	width:55%;
	display:inline-block;
	vertical-align:top;
	position:relative;
	margin-left:8px;
}

.komo-item__wrap i {
	vertical-align:middle;
}

.komo-item__top {
	width: 100%;
	display:inline-block;
	font-size:1.5em;
}

.komo-item__top span {
	font-size:24px;
}

.komo-item__top a {
	float:right;
}

.komo-item__bottom {
	width:100%;
	display:inline-block;
}

.komo-item__bottom i {
	font-size:1.2em;
}

.komo-item__bottom span {
	margin:8px 8px;
}

/*
 * Home page card
 */

.komo-card__box {
	width:150px;
	height:210px;
	margin:5px 3px;
	background:#FFFFFF;
}

.komo-card__cover {
	width:100%;
	height:150px;
	display:block;
	padding:5px;
}

.komo-card__detail {
	position:relative;
	display:block;
	width:100%;
	height:60px;
	color:black;
}

.komo-card__detail-price {
	font-size:1.5em;
	position:absolute;
	right:8px;
	top:8px;
}

.komo-card__detail-view {
	font-size:1.2em;
	position:absolute;
	bottom:8px;
	left:8px
}

.komo-card__detail-view i {
	vertical-align:middle;
	font-size:1em;
}

/*
 * Media Queries
 */
 
@media screen and (min-width:825px) {
	.komo-item__top span {
		font-size:34px;
	}
	
	.komo-item__wrap {
		width:67%;
	}
	
	.komo-fab__filter {
		bottom:40px;
		right:40px;
	}
}

/*test*/
/*
@media only screen and (min-width : 601px) and (max-width : 1260px) {
.toast {
width: 100%;
border-radius: 0;} }

@media only screen and (min-width : 1261px) {
.toast {
width: 100%;
border-radius: 0; } }

@media only screen and (min-width : 601px) and (max-width : 1260px) {
#toast-container {
min-width: 100%;
bottom: 0%;
top: 90%;
right: 0%;
left: 0%;} }

@media only screen and (min-width : 1261px) {
#toast-container {
min-width: 100%;
bottom: 0%;
top: 90%;
right: 0%;
left: 0%; } }*/
